.content-wrapper {
    left: 0;
    position: relative;
    margin-left: 230px;
    padding: 15px 10px;
}

.content-wrapper-open-side-nav {
    left: 0;
    position: relative;
    margin-left: 230px;
    padding: 15px 10px;
    transition: margin-left 0.15s linear;
}

.content-wrapper-open-side-nav.expanded {
    margin-left: 5000px;
}

.content {
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.open-side-nav {
    padding-top: 15px;
    width: 230px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.closed-side-nav {
    padding-top: 15px;
    width: 230px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: width 0.15s linear;
}

.closed-side-nav {
    width: 230px;
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        left: 0;
        position: relative;
        margin-left: 0;
        padding: 15px 10px;
    }

    .open-side-nav {
        padding-top: 15px;
        width: 0;
        position: fixed;
        height: 100%;
        overflow: scroll;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }


}