* {
    font-family: "Roboto";
}

.side-nav {
    padding-top: 15px;
    width: 230px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.side-nav-hide {
    display: none;
}

.sidebar-menu ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu li a {
    color: #888;
    display: block;
    font-size: 15px;
    height: auto;
    padding: 0 20px;
    text-decoration: none;
}
.sidebar-menu li a:hover {
    color: #009efb;
}
.sidebar-menu li.active a {
    color: #009efb;
    background-color: #f3f3f3;
}
.sidebar-menu li.menu-title a {
    color: #009efb;
    display: inline-block;
    float: right;
    padding: 0;
}
.sidebar-menu li.menu-title a.btn {
    color: #fff;
    display: block;
    float: none;
    font-size: 15px;
    line-height: inherit;
    margin-bottom: 15px;
}
.sidebar-menu ul ul a.active {
    color: #009efb;
    text-decoration: underline;
}
.sidebar .sidebar-menu > ul > li > a span {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
}
.sidebar .sidebar-menu > ul > li > a span.badge {
    color: #fff;
    margin-left: auto;
}
.sidebar-menu ul ul a {
    display: block;
    font-size: 14px;
    padding: 9px 10px 9px 50px;
    position: relative;
}
.sidebar-menu ul ul {
    background-color: #f3f3f3;
}
.sidebar-menu ul ul ul a {
    padding-left: 70px;
}
.sidebar-menu ul ul ul ul a {
    padding-left: 90px;
}
.sidebar-menu > ul > li {
    position: relative;
}
.sidebar-menu .menu-arrow {
    position: absolute;
    right: 15px;
    display: inline-block;
    text-rendering: auto;
    line-height: 40px;
    font-size: 18px;
}

.sidebar-menu .menu-arrow-down {
    position: absolute;
    right: 15px;
    display: inline-block;
    text-rendering: auto;
    line-height: 40px;
    font-size: 18px;
    transform: rotate(90deg);
}

.sidebar-menu a {
    transition: unset;
    -moz-transition: unset;
    -o-transition: unset;
    -ms-transition: unset;
    -webkit-transition: unset;
}
.sidebar-menu > ul > li > a {
    padding: 12px 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li a i {
    align-items: center;
    display: inline-flex;
    font-size: 18px;
    min-height: 24px;
    line-height: 18px;
    width: 20px;
    transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li.menu-title a i {
    font-size: 16px;
    margin-right: 0;
    text-align: right;
    width: auto;
}

.sub-menu-visibility-none {
    max-height: 0;
    overflow: hidden;

}

.sub-menu-visibility-block {
    max-height: 500px;
    overflow-y: hidden;
    transition: max-height 0.8s linear;
}

.sub-menu-visibility-block.expanded {
    max-height: 100%;
}

