::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #DFDFDF;
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #808080;
}