@media screen and (max-width: 576px) {
    .headerBox{
        height:550px;
    }

    .coupleImg{
        width: 80%;
        margin-top: 5%;
    }

    .headtext{
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .flowerimg{
        opacity:0.6;
    }

    .button-decoration{
        margin-left: 50%;
        width: 120px;
    }
}

@media screen and (min-width: 576px) {
    .headerBox{
        height:430px;
    }

    .coupleImg{
        margin-top: 20%;
    }

    .headtext{
        font-size: 0.8rem;
        margin-top: -20%;
    }

    .flowerimg{
        margin-top:1%;
        opacity:0.6;
    }

    .button-decoration{
        margin-left: 220%;
        width: 120px;
    }
}

@media screen and (min-width: 992px) {
    .headerBox{
        height:850px;
    }

    .coupleImg{
        margin-left:15%;
        margin-top:3%;
        width: 400px;
    }

    .flowerimg{
        margin-top:3%;
        opacity:0.6;
    }

    .button-decoration{
        margin-left: 0;
        width: 120px;
    }

}

@media screen and (min-width: 1200px) {
    .headerBox{
        height:650px;
    }

    .srikula-logo2{
        margin-left:10%;
        margin-top:-10%;
    }

    .headtext{
        margin-left: 10%;
        margin-right: 10%;
        margin-top:-15%;
    }

    .flowerimg{
        margin-top:3%;
        opacity:0.6;
    }

    .button-decoration{
        margin-left: 0;
        width: 120px;
    }

}

.gradient-custom {
    background: #2a2a2b;
    background: -webkit-linear-gradient(to right, rgba(12, 133, 2, 0.9), rgba(19, 138, 164, 0.9));
    background: linear-gradient(to right, rgba(12, 133, 2, 0.9), rgba(19, 138, 164, 0.9));
}

.logo-alignment{
    margin-left: 25%;
}

.button-decoration{
    margin-top:-6px;
    font-weight: Bold;
    color:#12899C;
}